
    /* Change the background color of the sidebar */
    .sidebar {
        background-color: #B18C75;
        color: white;
    }

    /* Change the background color of the main content area */
    .main {
        background-color: #FFF2D8;
    }

    /* Change the font size and color of the title */
    .css-1vcd91e {
        font-size: 24px;
        color: #333;
    }

    /* Change the font size and color of text in the main content area */
    .css-1f6dbht {
        font-size: 16px;
        color: #333;
    }
